{% extends 'base.html' %}


{% block title %}
        {{user.username}} posts
{% endblock %}

{% block content %}
        <br/>        
        <div align="center">
                <img src='{{url_for("static" , filename="profilePics/" + user.profile_pic )}}' class="shadow rounded-circle border border-dark" >
                <h3> {{user.username}}'s posts </h3>
        </div>
        <br>

        <div class="row">
        {% for post in posts.items %}
                <div class="col-12 col-md-6 col-lg-4">
                        <div class = 'card p-2 my-4 shadow'>
                                <div class = 'card-body'>
                                        <a href="{{url_for('blog_posts.blog_post' , blog_id = post.id)}}" class='links'>
                                                <h2 class='card-title'>
                                                        {{post.title}}
                                                </h2> 
                                        </a>
                                        <h5>
                                                by:<a class='card-title links' 
                                                href="{{url_for('users.user_posts' , username = post.author.username)}}">
                                                        {{post.author.username}}
                                                </a>
                                        </h5>
                                        <small>{{post.date.strftime('%B %d , %Y')}}</small>
                                </div>
                        </div>
                </div>
        {% endfor %}
        </div>

        
        <nav aria-label="Page Navigation example">
                <ul class="pagination justify-content-center">
                        
                        {% for page in posts.iter_pages(left_edge = 1 , right_edge = 1 , left_current = 1 , right_current = 2) %}
                                
                                
                                {% if posts.page == page_num %}
                                        <li class="page-item disabled">
                                                <a href="{{url_for('users.user_posts' , username = user.username , page = page)}}" 
                                                class="page-link"> {{page}}</a>
                                        </li>
                                {% else %}
                                        <li class="page-item">
                                                <a href="{{url_for('users.user_posts' , username = user.username , page = page)}}" 
                                                class="page-link"> {{page}}</a>
                                        </li>
                                {% endif %}
                                        
                        {% endfor %}    
                </ul>
        </nav>

{% endblock %}